In [2]:
import pandas as pd
import pickle

In [2]:
#terror_data = pd.read_csv("data/cleaned/terror.csv", encoding = "ISO-8859-1")

In [3]:
#terror_data.columns.to_list()

## Identification variables pertinentes

In [4]:
variables_pertinentes = ['iyear', 'iday', 'imonth', 'nkill', 'country_txt', 'nwound', 'region_txt', 'provstate',
                         'city', 'nkillus', 'nwoundus', 'region_txt', 'latitude', 'longitude',
                         'attacktype1_txt', 'alternative_txt', 'suicide', 'ransompaid', 'nhostkid', 'hostkidoutcome_txt'
                         , 'ransomnote', 'nhours', 'ndays', 'ransompaidus', 'nhostkidus', 'summary', 'motive', 'gname'
                         , 'natlty1_txt', 'kidhijcountry', 'weaptype1_txt', 'weapsubtype1_txt', 'weaptype2_txt', 'weapsubtype2_txt', 'weaptype3_txt', 'weapsubtype3_txt'
                         , 'weaptype4_txt', 'weapsubtype4_txt', 'targtype1_txt', 'targsubtype1_txt', 'targtype2_txt', 'targsubtype2_txt', 'targtype3_txt', 'targsubtype3_txt'
                         , 'claimmode_txt', 'propextent_txt', 'propextent', 'propvalue', 'dbsource'
                         ]

In [5]:
#new_data = terror_data[variables_pertinentes]

In [6]:
#new_data.to_csv("data/cleaned/terror.csv", index = False)

In [2]:
new_data = pd.read_csv("packages/data/cleaned/terror.csv")

In [4]:
new_data.columns

Index(['iyear', 'iday', 'imonth', 'nkill', 'country_txt', 'nwound',
       'region_txt', 'provstate', 'city', 'nkillus', 'nwoundus',
       'region_txt.1', 'latitude', 'longitude', 'attacktype1_txt',
       'alternative_txt', 'suicide', 'ransompaid', 'nhostkid',
       'hostkidoutcome_txt', 'ransomnote', 'nhours', 'ndays', 'ransompaidus',
       'nhostkidus', 'summary', 'motive', 'gname', 'natlty1_txt',
       'kidhijcountry', 'weaptype1_txt', 'weapsubtype1_txt', 'weaptype2_txt',
       'weapsubtype2_txt', 'weaptype3_txt', 'weapsubtype3_txt',
       'weaptype4_txt', 'weapsubtype4_txt', 'targtype1_txt',
       'targsubtype1_txt', 'targtype2_txt', 'targsubtype2_txt',
       'targtype3_txt', 'targsubtype3_txt', 'claimmode_txt', 'propextent_txt',
       'propextent', 'propvalue', 'dbsource', 'date'],
      dtype='object')

In [5]:
new_data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180800 entries, 0 to 180799
Data columns (total 50 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   iyear               180800 non-null  int64
 1   iday                180800 non-null  int64
 2   imonth              180800 non-null  int64
 3   nkill               180800 non-null  float64
 4   country_txt         180800 non-null  object
 5   nwound              180800 non-null  float64
 6   region_txt          180800 non-null  object
 7   provstate           180800 non-null  object
 8   city                180800 non-null  object
 9   nkillus             180800 non-null  float64
 10  nwoundus            180800 non-null  float64
 11  region_txt.1        180800 non-null  object
 12  latitude            180800 non-null  float64
 13  longitude           180800 non-null  float64
 14  attacktype1_txt     180800 non-null  object
 15  alternative_txt     180800 non-null  object
 16  suicide             180800 non-null  int64
 17  ransompaid          180800 non-null  float64
 18  nhostkid            180800 non-null  float64
 19  hostkidoutcome_txt  180800 non-null  object
 20  ransomnote          180800 non-null  object
 21  nhours              180800 non-null  float64
 22  ndays               180800 non-null  float64
 23  ransompaidus        180800 non-null  float64
 24  nhostkidus          180800 non-null  float64
 25  summary             180800 non-null  object
 26  motive              180800 non-null  object
 27  gname               180800 non-null  object
 28  natlty1_txt         180800 non-null  object
 29  kidhijcountry       180800 non-null  object
 30  weaptype1_txt       180800 non-null  object
 31  weapsubtype1_txt    180800 non-null  object
 32  weaptype2_txt       180800 non-null  object
 33  weapsubtype2_txt    180800 non-null  object
 34  weaptype3_txt       180800 non-null  object
 35  weapsubtype3_txt    180800 non-null  object
 36  weaptype4_txt       180800 non-null  object
 37  weapsubtype4_txt    180800 non-null  object
 38  targtype1_txt       180800 non-null  object
 39  targsubtype1_txt    180800 non-null  object
 40  targtype2_txt       180800 non-null  object
 41  targsubtype2_txt    180800 non-null  object
 42  targtype3_txt       180800 non-null  object
 43  targsubtype3_txt    180800 non-null  object
 44  claimmode_txt       180800 non-null  object
 45  propextent_txt      180800 non-null  object
 46  propextent          180800 non-null  float64
 47  propvalue           180800 non-null  float64
 48  dbsource            180800 non-null  object
 49  date                180800 non-null  object
dtypes: float64(14), int64(4), object(32)
memory usage: 46.9+ MB

## Nombre de lignes et de colonnes

In [6]:
# nombre de colonnes et de lignes
new_data.shape

(180800, 50)

On a 49 variables et 181691 observations dans le jeu de donn√©es

## Ajoutons une nouvelle colonne date qui va nous permettre de classer directement par date les observations

In [79]:
# further we must see if the column iday, imonth and iyear can be concatenated
new_data["iday"].unique()

array([ 1,  2,  3,  6,  8,  9, 10, 11, 12, 13, 14, 15, 19, 20, 21, 22, 25,
       26, 27, 28, 30, 31,  4,  7, 16, 17, 18, 23, 24,  5, 29],
      dtype=int64)

In [80]:
new_data["imonth"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [81]:
new_data["iyear"].unique()

array([1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980,
       1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991,
       1992, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017], dtype=int64)

In [82]:
new_data[(new_data["iday"] == 0)].index.__len__()

0

In [83]:
new_data[(new_data["imonth"] == 0)].index.__len__()

0

In [84]:
# Let's remove some lines by the indexes
new_data.drop(index = new_data[(new_data["iday"] == 0)].index, axis = 0, inplace = True)

In [85]:
new_data["iday"].unique()

array([ 1,  2,  3,  6,  8,  9, 10, 11, 12, 13, 14, 15, 19, 20, 21, 22, 25,
       26, 27, 28, 30, 31,  4,  7, 16, 17, 18, 23, 24,  5, 29],
      dtype=int64)

In [86]:
# create a new column named as date
new_data['date'] = new_data["iyear"].astype("str") + "-" + new_data["imonth"].astype("str") + "-" + new_data["iday"].astype("str")

In [87]:
new_data["date"]

0           1970-1-1
1           1970-1-1
2           1970-1-2
3           1970-1-2
4           1970-1-2
             ...
180795    2017-12-31
180796    2017-12-31
180797    2017-12-31
180798    2017-12-31
180799    2017-12-31
Name: date, Length: 180800, dtype: object

In [88]:
# transformation de la colonne en format date_time
new_data["date"] = pd.to_datetime(new_data['date'])

In [89]:
new_data.sort_values('date', inplace=True)

In [90]:
new_data["date"].dtype

dtype('<M8[ns]')

In [91]:
new_data['date']

0        1970-01-01
1        1970-01-01
2        1970-01-02
3        1970-01-02
4        1970-01-02
            ...
180776   2017-12-31
180775   2017-12-31
180798   2017-12-31
180786   2017-12-31
180799   2017-12-31
Name: date, Length: 180800, dtype: datetime64[ns]

## Traitement des valeurs manquantes

In [11]:
missing_percentages = new_data.isna().sum().sort_values(ascending = False)/len(new_data)
missing_percentages

iyear                 0.0
weaptype2_txt         0.0
weaptype3_txt         0.0
weapsubtype3_txt      0.0
weaptype4_txt         0.0
weapsubtype4_txt      0.0
nkill                 0.0
nkillus               0.0
nwound                0.0
nwoundus              0.0
propextent            0.0
propextent_txt        0.0
propvalue             0.0
nhostkid              0.0
nhostkidus            0.0
nhours                0.0
ndays                 0.0
kidhijcountry         0.0
ransompaid            0.0
ransompaidus          0.0
ransomnote            0.0
hostkidoutcome_txt    0.0
dbsource              0.0
weapsubtype2_txt      0.0
weapsubtype1_txt      0.0
imonth                0.0
weaptype1_txt         0.0
iday                  0.0
country_txt           0.0
region_txt            0.0
provstate             0.0
city                  0.0
latitude              0.0
longitude             0.0
summary               0.0
alternative_txt       0.0
suicide               0.0
attacktype1_txt       0.0
targtype1_txt         0.0
targsubtype1_txt      0.0
natlty1_txt           0.0
targtype2_txt         0.0
targsubtype2_txt      0.0
targtype3_txt         0.0
targsubtype3_txt      0.0
gname                 0.0
motive                0.0
claimmode_txt         0.0
date                  0.0
dtype: float64

Remplacement des valeurs manquantes dans les variables quantitatives par 0.

In [93]:
quant = new_data.columns[~new_data.columns.isin(new_data.select_dtypes('object').columns.to_list())]

In [94]:
new_data[quant] = new_data[quant].fillna(0)

On constate que seules les variables qualitatives contiennent des valeurs manquantes. On remplacera par des guillemets.

In [95]:
qual = new_data.select_dtypes('object').columns

In [96]:
new_data[qual] = new_data[qual].fillna("''")

In [10]:
missing_percentages = new_data.isna().sum().sort_values(ascending = False)/len(new_data)
missing_percentages

iyear                 0.0
weaptype2_txt         0.0
weaptype3_txt         0.0
weapsubtype3_txt      0.0
weaptype4_txt         0.0
weapsubtype4_txt      0.0
nkill                 0.0
nkillus               0.0
nwound                0.0
nwoundus              0.0
propextent            0.0
propextent_txt        0.0
propvalue             0.0
nhostkid              0.0
nhostkidus            0.0
nhours                0.0
ndays                 0.0
kidhijcountry         0.0
ransompaid            0.0
ransompaidus          0.0
ransomnote            0.0
hostkidoutcome_txt    0.0
dbsource              0.0
weapsubtype2_txt      0.0
weapsubtype1_txt      0.0
imonth                0.0
weaptype1_txt         0.0
iday                  0.0
country_txt           0.0
region_txt            0.0
provstate             0.0
city                  0.0
latitude              0.0
longitude             0.0
summary               0.0
alternative_txt       0.0
suicide               0.0
attacktype1_txt       0.0
targtype1_txt         0.0
targsubtype1_txt      0.0
natlty1_txt           0.0
targtype2_txt         0.0
targsubtype2_txt      0.0
targtype3_txt         0.0
targsubtype3_txt      0.0
gname                 0.0
motive                0.0
claimmode_txt         0.0
date                  0.0
dtype: float64

In [98]:
new_data.head()

,iyear,iday,imonth,nkill,country_txt,nwound,region_txt,provstate,city,nkillus,...,targtype2_txt,targsubtype2_txt,targtype3_txt,targsubtype3_txt,claimmode_txt,propextent_txt,propextent,propvalue,dbsource,date
0,1970,1,1,0.0,United States,0.0,North America,Illinois,Cairo,0.0,...,'','','','','',Minor (likely < $1 million),3.0,0.0,Hewitt Project,1970-01-01
1,1970,1,1,0.0,United States,0.0,North America,Wisconsin,Baraboo,0.0,...,'','','','','',Minor (likely < $1 million),3.0,0.0,PGIS,1970-01-01
2,1970,2,1,0.0,Uruguay,0.0,South America,Montevideo,Montevideo,0.0,...,'','','','','','',0.0,0.0,PGIS,1970-01-02
3,1970,2,1,0.0,United States,0.0,North America,California,Oakland,0.0,...,'','','','','',Minor (likely < $1 million),3.0,22500.0,Hewitt Project,1970-01-02
4,1970,2,1,0.0,United States,0.0,North America,Wisconsin,Madison,0.0,...,'','','','',Letter,Minor (likely < $1 million),3.0,60000.0,Hewitt Project,1970-01-02

In [99]:
# new_data.to_csv("data/cleaned/terror.csv", index = False)

pickling datas

In [3]:
with open('packages/data/cleaned/terror.txt', "wb") as f:
    pickled = pickle.Pickler(f)
    pickled.dump(new_data)

## V√©rification du dataset

In [30]:
with open('packages/data/cleaned/terror_test.txt', "rb") as f:
    pickled = pickle.Unpickler(f)
    new_data = pickled.load()

In [3]:
new_data = pd.read_csv("data/cleaned/terror_test.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'data/cleaned/terror_test.csv'

In [31]:
new_data.head()

,iyear,imonth,iday,country_txt,region_txt,provstate,city,latitude,longitude,summary,...,nhostkidus,nhours,ndays,kidhijcountry,ransompaid,ransompaidus,ransomnote,hostkidoutcome_txt,dbsource,date
5,1970,1,1,United States,North America,Illinois,Cairo,37.005105,-89.176269,1/1/1970: Unknown African American assailants ...,...,0,0,0,,0.0,0.0,,,Hewitt Project,1970-01-01
10,1970,1,1,United States,North America,Wisconsin,Baraboo,43.468500,-89.744299,,...,0,0,0,,0.0,0.0,,,PGIS,1970-01-01
6,1970,1,2,Uruguay,South America,Montevideo,Montevideo,-34.891151,-56.187214,,...,0,0,0,,0.0,0.0,,,PGIS,1970-01-02
7,1970,1,2,United States,North America,California,Oakland,37.791927,-122.225906,1/2/1970: Unknown perpetrators detonated explo...,...,0,0,0,,0.0,0.0,,,Hewitt Project,1970-01-02
8,1970,1,2,United States,North America,Wisconsin,Madison,43.076592,-89.412488,"1/2/1970: Karl Armstrong, a member of the New ...",...,0,0,0,,0.0,0.0,,,Hewitt Project,1970-01-02

In [32]:
# from packages import pd
# from packages import pickle
from typing import *


def remplacer_valeurs(df: pd.DataFrame, colonne:str, valeurs_a_remplacer: List, valeurs_de_remplacement: List)->pd.DataFrame:
    """Remplacer certaines valeurs d'une colonne

    Args:
        df (pd.DataFrame): le jeu de donn√©es
        colonne (str): la colonne
        valeurs_a_remplacer (List): les valeurs √† remplacer
        valeurs_de_remplacement (List): les valeurs de remplacement

    Returns:
        pd.DataFrame: Le jeu de donn√©es de sortie
    """
    
    def replace(colonne):
        for i, value in enumerate(valeurs_a_remplacer):
            if colonne == value:
                colonne = valeurs_de_remplacement[i]
        return colonne
    
    df[colonne] = df[colonne].apply(replace)
    return df
    

def ajout_date(df: pd.DataFrame, colonne_jour: str, colonne_mois: str, colonne_annee: str) -> pd.DataFrame:
    """Ajouter une nouvelle colonne date

    Args:
        df (pd.DataFrame): Le jeu de donn√©es initial
        colonne_jour (str): Le nom de la colonne jour
        colonne_mois (str): Le nom de la colonne mois
        colonne_annee (str): Le nom de la colonne annee

    Returns:
        pd.DataFrame: Le jeu de donn√©es avec une date
    """
    # enlever les lignes avec des num√©ros de jour √©gals √† 0
    df.drop(index = df[(df["iday"] == 0)].index, axis = 0, inplace = True)
    
    # cr√©ation d'une nouvelle colonne date
    df['date'] = df["iyear"].astype("str") + "-" + df["imonth"].astype("str") + "-" + df["iday"].astype("str")
    
    # transformation de la colonne en format date_time
    df["date"] = pd.to_datetime(df['date'])
    
    # trier les lignes suivant les dates
    df.sort_values('date', inplace=True)
    
    return df

def convertir_type(df: pd.DataFrame, colonnes: List, type: str):
    """Permet de convertir des colonnes en une autre type

    Args:
        df (pd.DataFrame): Le jeu de donn√©es
        colonnes (List): Les colonnes √† convertir
        type (str): Le type des donn√©es
    """
    for colonne in colonnes:
        df = remplacer_valeurs(df, colonne, [''], ["0"])
        df[colonne] = df[colonne].astype(type)
    return df

def remplacer_valeurs_manquantes_quant(df: pd.DataFrame, valeur_de_remplacement: float)->pd.DataFrame:
    """remplacer les valeurs manquantes quantitatives

    Args:
        df (pd.DataFrame): Le jeu de donn√©es avec valeurs manquantes
        valeur_de_remplacement (float): La valeur de remplacement

    Returns:
        pd.DataFrame: Le jeu de donn√©es sans valeurs manquantes quantitatives
    """
    # recuperations des noms des colonnes quantitatives
    quant: pd.Index = df.columns[~df.columns.isin(df.select_dtypes('object').columns.to_list())]
    
    # remplacements des valeurs manquantes
    df[quant] = df[quant].fillna(valeur_de_remplacement)
    
    return df
    
def remplacer_valeurs_manquantes_qual(df: pd.DataFrame, valeur_de_remplacement: float)->pd.DataFrame:
    """remplacer les valeurs manquantes qualitatives

    Args:
        df (pd.DataFrame): Le jeu de donn√©es avec valeurs manquantes
        valeur_de_remplacement (float): La valeur de remplacement

    Returns:
        pd.DataFrame: Le jeu de donn√©es sans valeurs manquantes qualitatives
    """
    # recuperations des noms des colonnes qualitatives
    qual = df.select_dtypes('object').columns
    
    # remplacements des valeurs manquantes
    df[qual] = df[qual].fillna(valeur_de_remplacement)      
    
    return df

def pretraitement(df_terror: pd.DataFrame) -> pd.DataFrame:
    """Effectuer le pr√©traitement des donn√©es

    Args:
        df_terror (pd.DataFrame): Le jeu de donn√©es original

    Returns:
        pd.DataFrame: Le jeu de donn√©es nettoy√©
    """
    ## Les traitements qui seront effectu√©s ont √©t√© √©tudi√© avant 
    ## d'√™tre entrepris
    
    # modification des types des variables quantitatives
    df_terror = convertir_type(df_terror, ['iyear', 'iday', 'imonth', 'nkill',
                                           'nwound', 'nkillus', 'nwoundus', 'ndays',
                                           'nhostkidus', 'propextent', 'suicide', 'nhostkid', 'nhours'],'int')
    df_terror = convertir_type(df_terror, ['latitude', 'longitude', 'ransompaid', 'ransompaidus', 'propvalue'],"float")
    # Ajout d'une nouvelle colonne date
    df_terror = ajout_date(df_terror, "iday", "imonth", "iyear")
    
    
    
    # remplacement des valeurs manquantes quantitatives
    df_terror = remplacer_valeurs_manquantes_quant(df_terror, 0)
    
    # remplacements des valeurs manquantes restantes qui doivent etre qualitatives
    df_terror.fillna("''", inplace = True)  
    
    return df_terror

In [33]:
pretraitement(new_data)

,iyear,imonth,iday,country_txt,region_txt,provstate,city,latitude,longitude,summary,...,nhostkidus,nhours,ndays,kidhijcountry,ransompaid,ransompaidus,ransomnote,hostkidoutcome_txt,dbsource,date
5,1970,1,1,United States,North America,Illinois,Cairo,37.005105,-89.176269,1/1/1970: Unknown African American assailants ...,...,0,0,0,,0.0,0.0,,,Hewitt Project,1970-01-01
10,1970,1,1,United States,North America,Wisconsin,Baraboo,43.468500,-89.744299,,...,0,0,0,,0.0,0.0,,,PGIS,1970-01-01
6,1970,1,2,Uruguay,South America,Montevideo,Montevideo,-34.891151,-56.187214,,...,0,0,0,,0.0,0.0,,,PGIS,1970-01-02
7,1970,1,2,United States,North America,California,Oakland,37.791927,-122.225906,1/2/1970: Unknown perpetrators detonated explo...,...,0,0,0,,0.0,0.0,,,Hewitt Project,1970-01-02
8,1970,1,2,United States,North America,Wisconsin,Madison,43.076592,-89.412488,"1/2/1970: Karl Armstrong, a member of the New ...",...,0,0,0,,0.0,0.0,,,Hewitt Project,1970-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176995,2017,7,15,Israel,Middle East & North Africa,Northern,Maghar,32.889840,35.407030,07/15/2017: Assailants threw a stun grenade in...,...,0,0,0,,0.0,0.0,,,START Primary Collection,2017-07-15
176996,2017,7,15,India,South Asia,Punjab,Ludhiana,30.898024,75.860077,07/15/2017: Assailants shot and killed Pastor ...,...,0,0,0,,0.0,0.0,,,START Primary Collection,2017-07-15
176997,2017,7,15,Iran,Middle East & North Africa,Sistan and Baluchestan,Saravan,27.352729,62.344610,07/15/2017: Assailants in Pakistan armed with ...,...,0,0,0,,0.0,0.0,,,START Primary Collection,2017-07-15
176998,2017,7,15,Somalia,Sub-Saharan Africa,Bari,Galgala,11.008501,49.025617,07/15/2017: Assailants opened fire on Puntland...,...,0,0,0,,0.0,0.0,,,START Primary Collection,2017-07-15
176999,2017,7,15,Somalia,Sub-Saharan Africa,Bay,Qansax Dheere,2.868764,43.005299,07/15/2017: Assailants detonated an explosive ...,...,0,0,0,,0.0,0.0,,,START Primary Collection,2017-07-15

In [35]:
new_data["ndays"].unique()

array([   0,    2,    4,    1,   17,    3,    5,    7,    6,   10,  202,
         59,   23,   42,  141,   21,   12,   63,   40,   13,  154,  180,
         95,  135,   41,   80,   26,   19,   27,   62,  290,   30,   89,
        117,   35,  191,   61,   29,   15,  162,   60,  120,  365,   48,
        107,  752,   28,  258,  101,   18,   85,   38,   20,   22,  109,
         88,   24,   55,   37,   14,   93,  161,   50,   52,  216,   45,
          8,   87,   91,  124,    9,   43,  102,   11,   32,   33,   47,
         99,  567,  380, 2454,  114, 1935,   90,  337,  -99,   16,  610,
        315,  172,  529,  249,  393,  173,   67,   56,   84,  192,   65,
        147,  640,   31,   44,   54,   69,  187,   75,   51,   57,   81,
         46,  492,  516,  106,   49,  310,  100,  212,  113,  502,  531,
        220,  128,  247,  140,  285,  205,  153,   78,   64,   25,  103,
        264,  261,   39,  244,  330,   94,  179,  208,  122,  115,  232,
         34,  197,   68,  360,  112,   36,  450,   70,  269,  138,   71,
        228,  373,  370,  168,  379,  270,   97, 1474,  410,  311,  167,
         82,  194, 1941,  524,   53,  940,  252,  126,  104,  459,  131,
        259,  238,  170,  110,  623, 1796, 1282,   77,  108,   58,  305,
        155, 1340, 1451, 1129, 1879,  174,  613,  440,  299,  190,  301,
        152, 1250,  127,  919,  643,  874, 1111, 2078,  474, 1091,  976,
        463,   86,  266,  350, 1069,  218,  877,  414,  514,  540,  694,
        159,  395,  151, 1826, 1271,  674,  125,  263,  333,  210,  221,
         74,  242,  550,  745,  556, 1097,  398,  118,  339,  761,  558,
         79,  188,  129,  243,  592,  394,  555,  952,  444,  111, 1110,
        411,  231,  347,  508,   96,  281,  132,   73,  204,  164,   72,
        267,  236,   76,  175,  460,  136,  713,  738,  265,   92,  993,
        707,  105,  160,  130,  237,  189,  163,  689,   66,   98,  705,
        176,  193,  419,  282,  298,  260,  363,  486,  184,  294,  313,
        148,  225,  213,  229,  345,  413,  158,  793,  139,  532,  362,
        307,  119,  699,  553,  241,  183,  378,  251,  462,  206,  404,
        427,  273,  292,  209,  133])

In [29]:
with open('packages/data/cleaned/terror_test.txt', "wb") as f:
    pickled = pickle.Pickler(f)
    pickled.dump(new_data)